@use "styles/colors" as *;

.commentListItem {
    h6 {
        word-wrap: break-word;
    }
    
    p {
        &::first-letter {
            color: $gold-color;
            text-transform: uppercase;
        }
    }
}
