@use "styles/colors" as *;
@use "styles/mixins" as *;

.button {
    margin-bottom: 20px;
    padding: 5px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 8px;
    border: 1px solid $solid-black-color;
    color: $solid-black-color;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #00000091;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.3s background-color;

    span {
        margin-top: 2px;
        width: 20px;
        height: 20px;

        svg {
            height: 100%;
        }
    }
}

// Variants
.primary {
    @include buttonVariant($primary-btn-variant);
}

.secondary {
    @include buttonVariant($secondary-btn-variant);
}

// Action button variants
.addVariant {
    @include buttonVariant($add-btn-variant);
}

.removeVariant {
    @include buttonVariant($remove-btn-variant);
}

.editVariant {
    @include buttonVariant($edit-btn-variant);
}
