.home {
}

.backgroundImage {
    background: url("https://wallpaperset.com/w/full/2/b/9/56209.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
