$backgroud-color: #f7fff7;
$white-color: #fff;
$black-color: #343434;
$gold-color: #c2a83e;

$success-color: #2cb44b;
$warning-color: #fbc010;
$error-color: #ef2222;
$solid-black-color: #000;

// Button variants
$primary-btn-variant: #dfdfdf;
$secondary-btn-variant: #4d4d4d;

// Action button color variants
$add-btn-variant: #6ed11e;
$remove-btn-variant: #d11e31;
$edit-btn-variant: #d1c91e;
