@use "breakpoints" as *;
@use "variables" as *;

@mixin app-container {
    margin: 0 auto;
    padding: 14px;

    @include tablet-portrait-up() {
        padding: 20px;
    }

    @include tablet-landscape-up() {
        padding: 24px;
        max-width: 1440px;
    }
}

@mixin scaleOnAction() {
    transition: transform $transition-duration;

    &:hover,
    &:focus,
    &:active {
        transform: scale(1.05);
    }
}
