@use "styles/colors" as *;
@use "styles/variables" as *;

.modalBackdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: $zIndex-backdrop;
}

.modalContent {
    position: fixed;
    padding: 25px 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-height: 500px;
    max-width: 600px;
    background-color: $backgroud-color;
    border-radius: 10px;
    box-shadow:
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
        100px 100px 80px rgba(0, 0, 0, 0.05);
    color: $black-color;
    animation: scale 0.5s ease;
    z-index: $zIndex-modal;
}

.closeBtn {
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
    border: 1px solid transparent;
    border-radius: 50%;
    transition:
        border-color 0.3s,
        rotate 0.3s;

    &:hover,
    &:focus,
    &:active {
        border-color: $solid-black-color;
        rotate: 180deg;
    }
}

@keyframes scale {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}
