@use "styles/colors" as *;
@use "styles/variables" as *;
@use "styles/breakpoints" as *;
@use "styles/mixins" as *;

.card {
    svg {
        fill: $gold-color;
    }
}

.avatar {
    height: 40px;
    align-self: center;

    svg {
        width: 100%;
        height: 100%;
    }
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4 {
        text-align: center;
    }

    h4,
    p {
        &::first-letter {
            text-transform: uppercase;
        }
    }

    h4 {
        &::first-letter {
            color: $gold-color;
        }
    }
}

.commentsBtn {
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    border-top: 1px solid transparent;
    border-top-color: $white-color;
    border-radius: 0 0 $radius $radius;
    color: $white-color;
    transition: border-color 0.3s;

    span {
        padding-bottom: 2px;
        font-size: 1.4rem;

        @include desktop-up() {
            font-size: 1.6rem;
        }

        &::first-letter {
            text-transform: uppercase;
        }
    }

    svg {
        width: 25px;
        height: 25px;
        transition: transform $transition-duration;
    }

    &:hover,
    &:active,
    &:focus {
        outline: none;
        border-color: $gold-color;

        & > svg {
            transform: scale(1.05);
        }
    }
}
