@use "styles/colors" as *;

.addPostContainer {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: $solid-black-color;

    h2 {
        text-align: center;
    }
}
