@use "styles/colors" as *;
@use "styles/mixins" as *;

.commentsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-weight: normal;
}

.list {
    position: relative;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: calc(100% + 40px);
    left: -20px;
    color: $white-color;
    overflow-y: auto;
    max-height: 380px;

    @include styled-scroll-bar();

    &Skeleton {
        overflow-y: hidden;
    }
}
