@use "styles/breakpoints" as *;

.cardGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 25px;

    @include tablet-portrait-up() {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}
