@use "styles/mixins" as *;
@use "styles/colors" as *;

section.settings {
    @include app-container();
    display: flex;
    justify-content: center;

    .sharedCard {
        max-width: 600px;
        width: 100%;
    }
}
