@use "styles/mixins" as *;

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin: 0 auto;
}
    
.footer-contet p {
  margin: 5px 0;
}